/*
    1. переменные
    2. теги 
    3. класс для размера
    4. шапка
    5. подвал
    6. кнопки
    7. pop
*/


/*переменные*/

:root {
    --color-main: #EEEEEE;
    --color-Defolt1: #FB565A;
    --color-Defolt2: #00CA74;
    --color-Defolt3: #EFC849;
    --color-Defolt1-hover: #E74246;
    --color-Defolt2-hover: #00BC6C;
    --color-Defolt3-hover: #EAB534;
    --color-main-hover: #DFDFDF;
    --color-Defolt1-active: #D7373B;
    --color-Defolt2-active: #00AA62;
    --color-Defolt3-active: #E5A722;
    --color-main-active: #D5D5D5;
    --color-text1: #283136;
    --color-text2: #666;
    --color-text3: #000;
}


/*теги*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--color-text1)
}

header {
    background: var(--color-main);
}

h1,
h2,
h3 {
    color: var(--color-text3);
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}


/*класс для размера*/

.main-width {
    max-width: 1157px;
    min-width: 1000px;
    width: 100%;
    margin: 0 auto;
}


/*шапка*/

.header__inner {
    padding-top: 49px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.logo {
    grid-row: 1/ -1;
}

.menu-text {
    justify-self: center;
    grid-row: 2;
}

.nav-text__item {
    color: var(--color-text3);
    display: inline;
    margin-left: 45px;
    padding-bottom: 13px;
    border-bottom: 2px solid transparent;
    transition: .1s;
}

.nav-text__item:hover {
    color: var(--color-Defolt1);
    transition: .1s;
}

.nav-text__item:active {
    color: var(--color-text3);
    opacity: .3;
    transition: .1s;
}

.nav-text__item:first-child {
    margin: 0;
}

.basket {
    width: 114px;
    justify-self: end;
    grid-row: 2;
}

.basket img {
    width: 15px;
    height: 15px;
    margin-right: 24px;
    vertical-align: middle;
}

.basket a {
    color: var(--color-text3);
    vertical-align: middle;
    margin: 0;
}


/*подвал*/

.location h2 {
    display: none;
}

.map {
    width: 1440px;
    max-height: 416px;
    margin: 0 auto;
    background-image: url('../img/map.png');
    background-position: center;
    background-size: 100% 100%;
    padding: 54px 0;
}

.map-info {
    max-width: 319px;
    background-color: #fff;
    padding: 47px 0;
    padding-left: 50px;
}

.map__Name-Comp {
    font-size: 18px;
    line-height: 30px;
    font-weight: 800;
    color: var(--color-text3);
    margin-bottom: 22px;
}

.map__adres {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    color: var(--color-text2);
    margin-bottom: 18px;
}

.map__tel {
    margin-bottom: 37px;
    color: var(--color-text2);
    ;
}

.map-info .button {
    width: 219px;
    height: 50px;
}

.Stock {
    padding: 68px 0;
}

.footer__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 137px;
}

.Stock__text {
    align-self: center;
}

.Stock__text h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
}

.Stock__text p {
    font-size: 16px;
    line-height: 22px;
}

.social-network__item {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: #E1E1E1;
    text-align: center;
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 9px;
}

.social-network__item:last-child {
    margin: 0;
}

.social-network__item:hover {
    background-color: var(--color-Defolt1);
}

.social-network__item img {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
}


/*кнопки*/

.button {
    display: block;
    padding-top: 17px;
    padding-bottom: 15px;
    border-radius: 3px;
    border: none;
    color: #fff;
    text-align: center;
    transition: .3s;
}

.button:hover {
    transition: .3s;
}

.button:active {
    color: #ffffff4d
}

.button.button-style1 {
    background-color: var(--color-Defolt1);
}

.button.button-style2 {
    background-color: var(--color-Defolt2);
}

.button.button-style3 {
    background-color: var(--color-Defolt3);
}

.button.button-style4 {
    background-color: var(--color-main);
    color: var(--color-text3);
}

.button.button-style1:hover {
    background-color: var(--color-Defolt1-hover);
}

.button.button-style2:hover {
    background-color: var(--color-Defolt2-hover);
}

.button.button-style3:hover {
    background-color: var(--color-Defolt3-hover);
}

.button.button-style4:hover {
    background-color: var(--color-main-hover);
}

.button.button-style1:active {
    background-color: var(--color-Defolt1-active);
}

.button.button-style2:active {
    background-color: var(--color-Defolt2-active);
}

.button.button-style3:active {
    background-color: var(--color-Defolt3-active);
}

.button.button-style4:active {
    background-color: var(--color-main-active);
    color: #0000004d;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/*pop*/

.pop {
    width: 960px;
    height: 590px;
    padding: 63px 100px 84px 100px;
}

.pop__label {
    display: block;
}

.pop-DataPerson {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.pop__InputText {
    width: 100%;
}