.title {
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 108px;
    padding-top: 72px;
    background-color: var(--color-main);
    white-space: nowrap;
}

[type=checkbox],
[type=radio] {
    display: none;
}

.content {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 3fr 1fr 8fr;
}

.filter {
    grid-column: 1;
}
.filter h2{
    display: none;
}
.product {
    grid-column: 3;
}

.filter .button {
    width: 100%;
}

.list-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 42px;
}

.filter fieldset,
.product fieldset {
    padding: 0;
    border: 0;
}

.filter h2,
.sort {
    margin-bottom: 54px;
    text-transform: uppercase;
}

.sort legend {
    display: none;
}

.sort fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-list {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pages-list {
    width: 443px;
    display: grid;
    gap: 10px;
    grid-template-columns: 50px 50px 50px 1fr;
}

.pages-item {
    text-align: center;
    padding-top: 17px;
    padding-bottom: 15px;
    height: 50px;
    background-color: #EEEEEE;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin: 60px 0;
}
.pages-item.active{
    background-color: #fff;
    border: 3px solid #DBDBDB;
}
.pages-item:hover{
    background-color: #DFDFDF;
}
.pages-item:active{
    background-color: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1)
}
.pages-item:active a{
    opacity: .3;
}
.filter-form fieldset {
    display: block;
    margin-bottom: 50px;
}

.filter-price legend,
.filter-grid legend,
.filter-features legend {
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 16px;
}

.filter-grid__label,
.filter-features__label {
    font-size: 16px;
    line-height: 19px;
}

.filter-grid__item,
.filter-features__item {
    margin-bottom: 20px;
}

.filter-grid__item:last-child,
.filter-features__item:last-child {
    margin-bottom: 0;
}

.filter-grid__item,
.filter-features__item {
    display: flex;
    align-items: center;
}

.product-item {
    position: relative;
    border-radius: 5px;
}

.product__about {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 232px;
    background-color: var(--color-main);
    text-align: center;
    padding-bottom: 44px;
    padding-top: 26px;
    border-radius: 5px;
}

.product__about h3 {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 30px;
}

.product__about p {
    width: 255px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 18px;
    color: #666;
}

.product__about .button {
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

.product-item:hover {
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.product-item:hover .product__about {
    display: block;
}

.product__about h3:hover {
    color: var(--color-Defolt1);
}

.filter-price {
    margin: 0;
    padding: 0;
    border: none;
    width: 260px;
    margin: 0 auto;
    
}

.filter-price * {
    box-sizing: content-box;
}

.range-filter {
    width: 260px;
}

.filter-price legend {
    text-transform: uppercase;
    margin-bottom: 54px;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
}