/*
    1. главная часть
    2. особенности
    3. продукты
    4. партнеры
*/


/*главная часть*/

main h1 {
    display: none;
}


/*особенности*/

.features {
    background-color: var(--color-main);
    height: 431px;
}

.features h2 {
    display: none;
}

.features__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.features__text {
    padding-top: 78px;
    padding-bottom: 80px;
}

.features__item h3 {
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 25px;
    white-space: nowrap;
}

.features__item p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 38px;
    white-space: nowrap;
}

.features__item .button {
    width: 240px;
    height: 50px;
}

.features__picture img {
    object-fit: cover;
}

.features__item:not(.activ) {
    display: none;
}


/*продукты*/

.Products {
    padding-top: 78px;
    padding-bottom: 80px;
    border-bottom: 2px solid var(--color-main);
}

.Products h2 {
    display: none;
}

.Products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Products__items img {
    width: 300px;
    height: 146px;
}

.Products__items h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--color-text3);
    margin-top: 25px;
    margin-bottom: 16px;
}

.Products__items p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

.Products__items .button {
    width: 160px;
    height: 50px;
}

.content-About-conditions {
    display: grid;
    grid-template-columns: 7fr 1fr 4fr;
    margin-top: 40px;
}

.About {
    grid-column: 1;
    margin-top: 34px;
}

.About h2 {
    display: none;
}

.conditions {
    grid-column: 3;
}

.conditions img {
    display: block;
    width: 360px;
    height: 208px;
}

.conditions h2 {
    display: none;
}

.About__big-text {
    font-weight: 500;
    font-size: 45px;
    color: var(--color-text3)
}

.About__text {
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 40px;
}

.About__strong-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
}


/*.About__list {
    padding-left: 32px;
}*/

.About__item {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    position: relative;
    padding-left: 32px;
}

.About__item::before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--color-Defolt1);
    position: absolute;
    top: 10px;
    left: 0px;
}

.About__item:last-child {
    margin: 0;
}

.conditions__strong-text {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 37px;
    margin-bottom: 31px;
}

.conditions__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.digit {
    margin-bottom: 10px;
}

.digit_big {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
}

.digit_percent {
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    vertical-align: top;
}


/*партнеры*/

.Partners {
    height: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}
.Partners .main-width,
.Partners .Partners__list {
    height: 100%;
}

.Partners h2 {
    display: none;
}

.Partners__list {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--color-main);
    border-bottom: 2px solid var(--color-main);
}

.Partners__item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .2;
}
.Partners__item:hover{
    opacity: 1;
}
.Partners__item:active{
    opacity: .2;
}